<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <!-- === Spawn the single "robot" door ===-->

  <!-- door 1 -->
  <arg name="door1_name" value="door_bot1"/>           <!-- The model name for this door robot -->
  <arg name="door1_namespace" value="door_bot1_ns"/>   <!-- Namespace used for this door robot -->
  <group ns="$(arg door1_namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find unl_smart_robotic_home)/urdf/doors/pr2_door_parameterized.urdf.xacro'
                    robot_name:=$(arg door1_name)
                    door_bot_namespace:=$(arg door1_namespace)
                    hinge_x:=-0.19
                    hinge_y:=-8.95
                    init_door_orientation:=-1.570796
                    door_width:=0.73
                    door_height:=2.4"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param /$(arg door1_namespace)/robot_description -model $(arg door1_name)"
          respawn="false" output="screen" />
    
    <!-- Provide transform between the door robot frame and the real world frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg door1_name)_tf_broadcaster"
          args="0  0   0   0   0   0   world  $(arg door1_namespace)/world" />
  </group>
  <include file="$(find unl_smart_robotic_home)/launch/controllers/pr2_door_controllers.launch">
    <arg name="door_bot_namespace" value="$(arg door1_namespace)"/>
  </include>

</launch>
