<?xml version="1.0" encoding="UTF-8"?>
<launch>

  
  <!-- === Spawn the single "robot" door ===-->

  <!-- door 2 -->
  <arg name="door2_name" value="door_bot2"/>           <!-- The model name for this door robot -->
  <arg name="door2_namespace" value="door_bot2_ns"/>   <!-- Namespace used for this door robot -->
  <group ns="$(arg door2_namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find unl_smart_robotic_home)/urdf/doors/pr2_door_parameterized.urdf.xacro'
                    robot_name:=$(arg door2_name)
                    door_bot_namespace:=$(arg door2_namespace)
                    hinge_x:=2.39
                    hinge_y:=-8.95
                    init_door_orientation:=-1.570796
                    door_width:=0.73
                    door_height:=2.4"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param /$(arg door2_namespace)/robot_description -model $(arg door2_name)"
          respawn="false" output="screen" />
    
    <!-- Provide transform between the door robot frame and the real world frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg door2_name)_tf_broadcaster"
          args="0  0   0   0   0   0   world  $(arg door2_namespace)/world" />
  </group>
  <include file="$(find unl_smart_robotic_home)/launch/controllers/pr2_door_controllers.launch">
    <arg name="door_bot_namespace" value="$(arg door2_namespace)"/>
  </include>

</launch>
