<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <!-- === Spawn selected "robot" doors ===-->

  <!-- door 3 -->
  <arg name="door3_name" value="door_bot3"/>           <!-- The model name for this door robot -->
  <arg name="door3_namespace" value="door_bot3_ns"/>   <!-- Namespace used for this door robot -->
  <group ns="$(arg door3_namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find unl_smart_robotic_home)/urdf/doors/pr2_door_parameterized.urdf.xacro'
                    robot_name:=$(arg door3_name)
                    door_bot_namespace:=$(arg door3_namespace)
                    hinge_x:=-0.11
                    hinge_y:=-7.12
                    init_door_orientation:=-1.570796
                    door_width:=0.59
                    door_height:=2.4
                    door_width_collision_factor:=0.5"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param /$(arg door3_namespace)/robot_description -model $(arg door3_name)"
          respawn="false" output="screen" />
    
    <!-- Provide transform between the door robot frame and the real world frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg door3_name)_tf_broadcaster"
          args="0  0   0   0   0   0   world  $(arg door3_namespace)/world" />
  </group>
  <include file="$(find unl_smart_robotic_home)/launch/controllers/pr2_door_controllers.launch">
    <arg name="door_bot_namespace" value="$(arg door3_namespace)"/>
  </include>

  <!-- door 4 -->
  <arg name="door4_name" value="door_bot4"/>           <!-- The model name for this door robot -->
  <arg name="door4_namespace" value="door_bot4_ns"/>   <!-- Namespace used for this door robot -->
  <group ns="$(arg door4_namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find unl_smart_robotic_home)/urdf/doors/pr2_door_parameterized.urdf.xacro'
                    robot_name:=$(arg door4_name)
                    door_bot_namespace:=$(arg door4_namespace)
                    hinge_x:=-1.31
                    hinge_y:=-7.12
                    init_door_orientation:=1.570796
                    door_width:=0.60
                    door_height:=2.4
                    door_width_collision_factor:=0.5"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param /$(arg door4_namespace)/robot_description -model $(arg door4_name)"
          respawn="false" output="screen" />
    
    <!-- Provide transform between the door robot frame and the real world frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg door4_name)_tf_broadcaster"
          args="0  0   0   0   0   0   world  $(arg door4_namespace)/world" />
  </group>
  <include file="$(find unl_smart_robotic_home)/launch/controllers/pr2_door_controllers.launch">
    <arg name="door_bot_namespace" value="$(arg door4_namespace)"/>
  </include>


</launch>
